<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>0.1.13, © 2000–2007 Johannes Erdfelt</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.libusb.sdk-@SDKVERSION@</string>
	<key>CFBundleName</key>
	<string>libusb MacOS X @SDKVERSION@ SDK</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.13</string>
	<key>IFMajorVersion</key>
	<integer>0</integer>
	<key>IFMinorVersion</key>
	<integer>1</integer>
	<key>IFPkgFlagAllowBackRev</key>
	<true/>
	<key>IFPkgFlagOverwritePermissions</key>
	<true/>
	<key>IFPkgFlagRestartAction</key>
	<string>NoRestart</string>
</dict>
</plist>
